@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(49, 56, 70);
}

.digital-clock {
    position: relative;
    color: #fff;
    background: rgb(42, 40, 40);
    width: 425px;
    padding: 20px 45px;
    box-shadow: 0 5px 25px rgba(14, 21, 37, 0.8);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.digital-clock:before {
    content: '';
    position: absolute;
    background: linear-gradient(45deg, rgb(37, 218, 5), rgb(25, 80, 231), rgb(243, 28, 236));
    background-size: 200% 200%;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    z-index: -1;
    filter: blur(40px);
    animation: glowing 5s ease infinite;
}

@keyframes glowing {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}


.time {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hours, .dots, .minutes {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 0 10px;
    line-height: 125px;
}

.hours, .minutes {
    font-size: 6.5em;
    width: 125px;
}

.dots {
    font-size: 5em;
    color: rgb(163, 164, 165);
}

.hours {
    background: -webkit-linear-gradient(90deg, #d043ff, #49d2f1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.minutes {
    background: -webkit-linear-gradient(90deg, #ecac2a, #fd4305);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.right-side {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.period {
    color: #e2a4f7;
    font-size: 20px;
    transform: translateY(-20px);
}

.seconds {
    color: #b0e8f6;
    font-size: 20px;
    transform: translateY(16px);
}

.calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 5px;
    background: -webkit-linear-gradient(90deg, #f30ce4, #f5b8d0);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.day-name, .day-number, .year {
    margin-left: 15px;
}

.dot-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    color: rgb(215, 221, 227);
    font-size: 1.3em;
    cursor: pointer;
}

.dot-menu {
    z-index: 999;
    position: absolute;
    top: 7px;
    right: 5px;
    list-style: none;
    background: rgb(64, 46, 81);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
}

.dot-menu.active {
    visibility: visible;
    opacity: 1;
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-format-text {
    color: rgb(211, 211, 178);
    font-size: 0.9em;
    margin-right: 20px;
}

.format-switch-btn {
    width: 35px;
    height: 15px;
    background: #6f4471;
    border-radius: 75px;
    box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.1),
                inset -2px -2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.format-switch-btn:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background: #f53ecd;
    border-radius: 50%;
    box-shadow: 0 5px 25px #d41856;
    transform: translateX(-10px);
    transition: 0.3s ease;
    transition-property: background, transform;
}

.format-switch-btn.active:before {
    background: rgb(90, 231, 90);
    box-shadow: 0 5px 25px rgb(90, 231, 90);
    transform: translateX(10px);
}